.acf-block-preview .braftonium-custom-list-item {

    min-height: 150px;
    padding: 12px;
    border: 1px solid rgba(200, 200, 200, 0.25);

    &::after {
        content: 'CUSTOM LIST ITEM';
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 4px;
        background-color: #aaa;
        font-size: 8px;
        line-height: 1;
        color: white;
        opacity: 0.25;
        pointer-events: none;
    }

    &:hover {
        border: 1px solid #aaa;
        &:after {
            opacity: 1;
        }
    }

    .wrap,
    .wp-block-image {
        margin: 0;
    }
}