$list_item_container: ".braftonium-custom-list-item";
$list_item_container_admin: ".braftonium-custom-list-item > .block-editor-inner-blocks > .block-editor-block-list__layout";

.acf-block-preview .braftonium-custom-list-item {

    min-height: 150px;
    padding: 12px;
    border: 1px solid rgba(200, 200, 200, 0.25);

    &::after {
        content: 'CUSTOM LIST ITEM';
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 4px;
        background-color: #aaa;
        font-size: 8px;
        line-height: 1;
        color: white;
        opacity: 0.25;
        pointer-events: none;
    }

    &:hover {
        border: 1px solid #aaa;
        &:after {
            opacity: 1;
        }
    }

    .wp-block-image {
        margin: 0;
    }
}

#{$list_item_container}{
    background-color: var(--item-bg);
}

#{$list_item_container},
#{$list_item_container_admin} {

    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height:100%;
    align-self: stretch;

    @for $i from 1 through 10 {
        &.grow-child-#{$i} :nth-child(#{$i}){
            flex:1;
        }
    }
}

